nav{
    z-index: 99;
    box-shadow: none;
    transition: all 1s ease;
    width: 100%;
}
nav ul li a{
    font-size: 1rem !important;
    transition: .5s;
}
nav li{
    padding: 3px 0;
}
nav ul li a:hover{
    color: #f05f40 !important;
}

nav ul li.active a {
    color: #f05f40 !important;
}
