#about{
    background-color: #191d20;
    padding: 60px 0;
    box-shadow: rgba(0, 0, 0, 0.402) -0px 8px 14px;

}

.about_container{
    margin: auto;
    text-align: center;

}

.about_container p{
    font-size: 18.5px;
    line-height: 2.2;
}
.white_line{
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    margin: 15px auto  40px;
}
.section_title{
    color: #f06040;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
    font-size: 2.5rem;
}
