button{
    outline: none !important;
    cursor: pointer;
}
header{
    height: 100vh;
    position: relative;
}
.btn_down{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid rgb(231, 231, 231);
    width: 40px;
    height: 80px;
    padding: 5px 0;
    text-align: center;
    border-radius: 300px;
    transition: .3s;
    cursor: pointer;
   
}

.btn_down .bi{
    color: white !important;
    font-size: 18px;
    display: block;
    transition: .3s;
    animation-name: btnDown;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
@keyframes btnDown {
    form{ transform: translate(0, 0)}
    to{transform: translate(0, 100%);}
}

.btn_down:hover{
    border: 1.5px solid #f06040c0 !important;
}
.btn_down:hover .bi{
    color: #f06040c0 !important;

}

main{
    position: relative;
}