button{
    outline: none !important;
    cursor: pointer;
}
header{
    height: 100vh;
    position: relative;
}
.btn_down{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 0);
}
.btn_down .bi{
    color: #f05f40 !important;
    font-size: 60px;
    cursor: pointer;
    transition: .3s;
}
.btn_down .bi:hover{
    color: #f06040c0 !important;
}
main{
    position: relative;
}