@font-face {
    font-family: 'poppins';
    src: url(../public/assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'poppinsBold';
    src: url(../public/assets/fonts/Poppins-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  box-sizing: border-box;
}
